.cards-container
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   margin-top: 48px;
}

.link-card
{
   width: 32.5%;
   height: 520px;

   padding: 18px;
   padding-left: 24px;
   padding-right: 24px;
   border-radius: 16px;

   background-color: rgba(37, 37, 39, 0.25);
   border: 0.5px solid rgba(255, 255, 255, 0.15);
}