.cards-container
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   margin-top: 48px;
}

.link-card
{   
   width: 32.5%;
   height: 520px;
   border-radius: 24px;

   background-color: rgba(0, 1, 8, 0.35);
   border: 0.5px solid rgba(255, 255, 255, 0.15);
   box-shadow: outset 0px 0px 18px rgba(0, 0, 0, 0.22);
   box-shadow: inset 0px 0px 18px rgba(255, 255, 255, 0.025);
   

   position: relative;

   h2 {
      margin-top: 22px;
      margin-bottom: 32px;
   }
}

.link-card .card-content {
   position: absolute;
   bottom: 0;
   width: fit-content;

   margin: 24px;
}

span.card-icon
{
   font-size: 146px;
   color: rgba(255, 255, 255, 0.82);
}

// ANIMATION
.card-anim-1
{
   opacity: 0;
   animation-name: card-anim-1;
   animation-duration: 0.5s;
   animation-delay: 0.3s;
   animation-fill-mode: forwards;
   // animation: ease-in-out;
}

.card-anim-2
{
   opacity: 0;
   animation-name: card-anim-1;
   animation-duration: 0.5s;
   animation-delay: 0.55s;
   animation-fill-mode: forwards;
   // animation: ease-in-out;
}

.card-anim-3
{
   opacity: 0;
   animation-name: card-anim-1;
   animation-duration: 0.5s;
   animation-delay: .8s;
   animation-fill-mode: forwards;
   // animation: ease-in-out;
}


@keyframes card-anim-1
{
   0% {margin-top: 5%; opacity: 0;}
   100% {margin-top: 0%; opacity: 100;}
}