.navbar
{
   width: 100%;
   height: 76px;

   border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
   padding-right: 50px;
   padding-left: 50px;

   position: fixed;
   z-index: 1000;
   top: 0;

   nav
   {
      width: 60%;
      height: 100%;
      margin: auto;
      backdrop-filter: blur(32px);

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
   }

   .user-nav-options
   {
      width: fit-content;
      display: flex;
      flex-direction: row;
      float: right;
      align-items: center;
   }

   .search-container, .login-btn
   {
      border: 0.5px solid rgba(255, 255, 255, 0.15);
      width: 52px;
      height: 52px;

      border-radius: 100px;
      margin-left: 10px;
      padding: 5px;

      background-color: #22212404;
      cursor: pointer;

      input
      {
         width: 100%;
         height: 100%;
         display: none;
      }
   }

   .search-container
   {
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
   }

   .login-btn
   {
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

      background-color: #deebf5;
      animation-delay: 0.25s;
   }

   .login-btn:hover
   {
      background: linear-gradient(to right, rgb(0, 255, 123) 0%, rgb(93, 216, 153) 100%);
   }

   .search-container:hover
   {
      width: 510px;
      height: 52px;
      transition: 0.35s;
      animation: ease-in-out;
      padding-left: 30px;
      padding-right: 30px;

      background-color: rgba(35, 34, 37, 0.1);

      input
      {
         width: 100%;
         display: block;
         cursor: text;
         text-align: center;
      }
   }
}
