.register-container
{
   width: fit-content;
   padding: 28px;
   margin: auto;
   margin-top: 52px;

   background-color: rgba(0, 1, 8, 0.35);
   border: 0.5px solid rgba(255, 255, 255, 0.15);
   border-radius: 28px;

   .input-container
   {
      border: 0.5px solid rgba(255, 255, 255, 0.15);
      width: 620px;
      height: 52px;

      border-radius: 20px;
      margin-bottom: 6px;

      background-color: #22212404;
      cursor: text;

      input
      {
         width: 100%;
         height: 100%;
      }
   }

   button.send
   {
      width: 620px;
      height: 72px;
      border-radius: 20px;
      background-color: rgb(102, 50, 206);

      margin-top: 20px;
      font-size: 22px;
      font-weight: 600;

      cursor: pointer;
   }

   .register-content
   {
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
   }
   
}
