html
{
   background-color: #020106;
   color: #e6e4ed;
}

// .homepage
// {
//    height: 100%;
// }

.content
{
   width: 70%;
   height: 100%;
   margin: auto;
   margin-top: 200px;
}

.glass-wrapper
{
   width: 100%;
   height: 100%;
   position: absolute;
   background-color: rgba(27, 24, 37, 0.25);
   backdrop-filter: blur(1980px);
}

.lighting-effect
{
   width: 38vw;
   height: 38vw;
   position: fixed;
   transform: translate(-50%, -50%);
   border-radius: 100%;
}

.color1
{
   top: 25%;
   left: 50%;
   background-color: #21da5ca1;
   animation-name: glass-effect-anim;
   animation-duration: 7s;
}

@keyframes glass-effect-anim
{
   0% { opacity: 25%; top: 0%; background-color: #21da5c2b; }
   100% { opacity: 100%; top: 25%; background-color: #21da5ca1 }
}

// .color2
// {
//    top: 85%;
//    left: 85%;
//    background-color: #21da7a;
// }