@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@400;600;800&family=Unbounded:wght@400;500;600;700;800;900&display=swap');

@import "./base";
@import "./store";
@import "./components/navbar";
@import "./components/cards";
@import "./components/register";
@import "./components/storeitem";
@import "./components/menu";
@import "./components/footer";
@import "./components/notfound";

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

input, button, a
{
   all: unset;
   border: 0;
}

a
{
   cursor: pointer;
}

.content
{
   width: 60%;
   
}

// typos
// font-family: 'Arimo', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Unbounded', cursive;

center, .title-wrapper
{
   animation-name: center-move-in;
   animation-duration: 0.75s;
}

@keyframes center-move-in
{
   0% {padding-top: 20px; opacity: 0;}
   100% {padding-top: 0px; opacity: 100;}
}

h1, h4, span.logo-title, span.logo-title span
{
   font-family: 'Unbounded', 'Sora', 'Inter', sans-serif;
   font-size: 52px;
   font-weight: 500;
   color: #deebf5;
   
   animation-name: h1-anim;
   animation-name: card-anim-1;
   animation-duration: 0.75s;
   animation-fill-mode: forwards;
}

h4
{
   font-size: 22px;
}

span.logo-title, span.logo-title span
{
   color: rgb(240, 248, 255);
   font-size: 26px;
   span
   {
      
      background: linear-gradient(to right, rgb(0, 255, 123) 0%, rgb(93, 216, 153) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}

p, span, input, button
{
   font-family: 'Inter', sans-serif;
   font-size: 17px;
   letter-spacing: -0.25px;
   line-height: 28px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.7);

}

button.cta-card,button.cta-normal
{
   border: 0.5px solid rgba(255, 255, 255, 0.15);

   background-color: rgba(0, 1, 8, 0.35);

   width: 100%;
   height: 52px;
   border-radius: 10px;
   margin-top: 30px;

   text-align: center;

   font-weight: 700;
   cursor: pointer;
}

button.cta-normal
{
   width: 32%;
   background-color: rgb(64, 220, 124);
   color: black;
}

button.cta-normal:hover
{
   background-color: rgb(103, 236, 154);
   transition: 0.2s;
}

button.cta-card:hover
{
   background-color: rgba(78, 78, 82, 0.35);
   border: 1px solid rgb(103, 236, 154);
   box-shadow: 0px 0px 8px rgba(0, 255, 98, 0.468);
   
   transition: 0.2s;

}

h2
{
   font-family: 'Inter', sans-serif;
   font-size: 34px;
   letter-spacing: -1.8px;
   color: #deebf5;

   margin-bottom: 20px;
}

span.link
{
   color: rgb(102, 50, 206);
   // text-decoration: underline;
}
