@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Inter:wght@400;500&family=Roboto:wght@400;500&family=Unbounded:wght@600;700;800;900&display=swap');

@import "./base";
@import "./components/navbar";
@import "./components/cards";
@import "./components/register";

*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

input, button
{
   all: unset;
   border: 0;
}

.content
{
   width: 60%;
   
}

// typos
// font-family: 'Arimo', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Unbounded', cursive;

center, .title-wrapper
{
   animation-name: center-move-in;
   animation-duration: 0.75s;
}

@keyframes center-move-in
{
   0% {padding-top: 20px; opacity: 0;}
   100% {padding-top: 0px; opacity: 100;}
}

h1, span.logo-title, span.logo-title > span
{
   font-family: 'Unbounded', 'Roboto', 'Inter', sans-serif;
   font-size: 52px;
   color: #deebf5;
   
   animation-name: h1-anim;
   animation-name: card-anim-1;
   animation-duration: 0.75s;
   animation-fill-mode: forwards;
}

span.logo-title, span.logo-title > span
{
   color: rgb(240, 248, 255);
   font-size: 26px;
   span
   {
      
      background: linear-gradient(to right, rgb(0, 255, 123) 0%, rgb(93, 216, 153) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }
}

p, span, input, button
{
   font-family: 'Inter', sans-serif;
   font-size: 17px;
   letter-spacing: -0.25px;
   line-height: 28px;
   font-weight: 400;
   color: #ffffffd2;

}

h2
{
   font-family: 'Inter', sans-serif;
   font-size: 36px;
   letter-spacing: -1px;
   color: #deebf5;

   margin-bottom: 20px;
}

span.link
{
   color: rgb(102, 50, 206);
   // text-decoration: underline;
}