@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Inter:wght@400;500&family=Roboto:wght@400;500&family=Unbounded:wght@600;700;800;900&display=swap");
html {
  background-color: #020106;
  color: #e6e4ed;
}

.content {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 200px;
}

.glass-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(27, 24, 37, 0.25);
  -webkit-backdrop-filter: blur(1980px);
          backdrop-filter: blur(1980px);
}

.lighting-effect {
  width: 38vw;
  height: 38vw;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
}

.color1 {
  top: 25%;
  left: 50%;
  background-color: rgba(32, 217, 91, 0.4);
  -webkit-animation-name: glass-effect-anim;
          animation-name: glass-effect-anim;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

.color2 {
  top: 25%;
  left: 50%;
  background-color: rgba(102, 50, 206, 0.3);
  -webkit-animation-name: glass-effect-anim;
          animation-name: glass-effect-anim;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}

@-webkit-keyframes glass-effect-anim {
  0% {
    opacity: 25%;
    top: 0%;
  }
  100% {
    opacity: 100%;
    top: 25%;
  }
}

@keyframes glass-effect-anim {
  0% {
    opacity: 25%;
    top: 0%;
  }
  100% {
    opacity: 100%;
    top: 25%;
  }
}

.navbar {
  width: 100%;
  height: 76px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
  padding-right: 50px;
  padding-left: 50px;
  position: fixed;
  z-index: 1000;
  top: 0;
}

.navbar nav {
  width: 60%;
  height: 100%;
  margin: auto;
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .user-nav-options {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .search-container, .navbar .login-btn {
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 52px;
  height: 52px;
  border-radius: 100px;
  margin-left: 10px;
  padding: 5px;
  background-color: #22212404;
  cursor: pointer;
}

.navbar .search-container input, .navbar .login-btn input {
  width: 100%;
  height: 100%;
  display: none;
}

.navbar .search-container {
  opacity: 0;
  margin-top: 0;
  -webkit-animation-name: controls-anim-search;
          animation-name: controls-anim-search;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar .login-btn {
  opacity: 0;
  margin-top: 0;
  -webkit-animation-name: controls-anim-button;
          animation-name: controls-anim-button;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  background-color: #deebf5;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.navbar .login-btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00ff7b), to(#5dd899));
  background: linear-gradient(to right, #00ff7b 0%, #5dd899 100%);
}

.navbar .search-container:hover {
  width: 510px;
  height: 52px;
  -webkit-transition: 0.35s;
  transition: 0.35s;
  -webkit-animation: ease-in-out;
          animation: ease-in-out;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(35, 34, 37, 0.1);
}

.navbar .search-container:hover input {
  width: 100%;
  display: block;
  cursor: text;
  text-align: center;
}

@-webkit-keyframes controls-anim-search {
  0% {
    opacity: 0%;
    margin-top: 15px;
  }
  100% {
    opacity: 100%;
    margin-top: 0px;
  }
}

@keyframes controls-anim-search {
  0% {
    opacity: 0%;
    margin-top: 15px;
  }
  100% {
    opacity: 100%;
    margin-top: 0px;
  }
}

@-webkit-keyframes controls-anim-button {
  0% {
    opacity: 0%;
    margin-top: 15px;
  }
  100% {
    opacity: 100%;
    margin-top: 0px;
  }
}

@keyframes controls-anim-button {
  0% {
    opacity: 0%;
    margin-top: 15px;
  }
  100% {
    opacity: 100%;
    margin-top: 0px;
  }
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.link-card {
  width: 32.5%;
  height: 520px;
  padding: 18px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 16px;
  background-color: rgba(0, 1, 8, 0.35);
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0px 0px 18px #00000037;
          box-shadow: 0px 0px 18px #00000037;
}

.card-anim-1 {
  opacity: 0;
  -webkit-animation-name: card-anim-1;
          animation-name: card-anim-1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card-anim-2 {
  opacity: 0;
  -webkit-animation-name: card-anim-1;
          animation-name: card-anim-1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card-anim-3 {
  opacity: 0;
  -webkit-animation-name: card-anim-1;
          animation-name: card-anim-1;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes card-anim-1 {
  0% {
    margin-top: 5%;
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 100;
  }
}

@keyframes card-anim-1 {
  0% {
    margin-top: 5%;
    opacity: 0;
  }
  100% {
    margin-top: 0%;
    opacity: 100;
  }
}

.register-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 28px;
  margin: auto;
  margin-top: 52px;
  background-color: rgba(0, 1, 8, 0.35);
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 28px;
}

.register-container .input-container {
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 620px;
  height: 52px;
  border-radius: 20px;
  margin-bottom: 6px;
  background-color: #22212404;
  cursor: text;
}

.register-container .input-container input {
  width: 100%;
  height: 100%;
}

.register-container button.send {
  width: 620px;
  height: 72px;
  border-radius: 20px;
  background-color: #6632ce;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.register-container .register-content {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.small-bar {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-top: 15px;
  margin-bottom: 15px;
}

button.menu {
  position: fixed;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  top: 90px;
  left: 21.65%;
  z-index: 1000;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  width: 62px;
  height: 62px;
  border-radius: 20px;
  background-color: #22212421;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  cursor: pointer;
}

.menu-content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.menu-content .options-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

button.menu:hover {
  width: 270px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button.menu:hover .menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

span.menu-link {
  color: rgba(255, 255, 255, 0.5);
}

span.menu-link:hover {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button, a {
  all: unset;
  border: 0;
}

a {
  cursor: pointer;
}

.content {
  width: 60%;
}

center, .title-wrapper {
  -webkit-animation-name: center-move-in;
          animation-name: center-move-in;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}

@-webkit-keyframes center-move-in {
  0% {
    padding-top: 20px;
    opacity: 0;
  }
  100% {
    padding-top: 0px;
    opacity: 100;
  }
}

@keyframes center-move-in {
  0% {
    padding-top: 20px;
    opacity: 0;
  }
  100% {
    padding-top: 0px;
    opacity: 100;
  }
}

h1, h4, span.logo-title, span.logo-title span {
  font-family: 'Unbounded', 'Roboto', 'Inter', sans-serif;
  font-size: 52px;
  color: #deebf5;
  -webkit-animation-name: h1-anim;
          animation-name: h1-anim;
  -webkit-animation-name: card-anim-1;
          animation-name: card-anim-1;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

h4 {
  font-size: 22px;
}

span.logo-title, span.logo-title span {
  color: aliceblue;
  font-size: 26px;
}

span.logo-title span, span.logo-title span span {
  background: -webkit-gradient(linear, left top, right top, from(#00ff7b), to(#5dd899));
  background: linear-gradient(to right, #00ff7b 0%, #5dd899 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p, span, input, button {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  letter-spacing: -0.25px;
  line-height: 28px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

h2 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  letter-spacing: -1px;
  color: #deebf5;
  margin-bottom: 20px;
}

span.link {
  color: #6632ce;
}
/*# sourceMappingURL=app.css.map */